@import "dbSlider";

.slider {
    display: block;
    text-align: center;
    white-space: nowrap;
    list-style: none;
    width: 100%;
    padding:0;
    margin:0;
    white-space: nowrap;
    
    background: rgba(0, 0, 0, .5);

    margin-bottom: 30px;
}
.slider li {
    width: 100%;
    max-width: 100px;
    display: inline-block;
    border-top:2px solid red;
    border-bottom:2px solid red;

    img {
        width: 100%;
    }
}