/*dbSlider*/
.dbSlider-wrapper {
    width: 100%;
    overflow: hidden;
    position:relative;

    &__hided {
    	display: none;
    }

    .dbSlider {
	    display: block;
	    text-align: center;
	    white-space: nowrap;
	    list-style: none;
	    width: 100%;
	    padding:0;
	    margin:0;

	    transition:transform .7s ease-in-out;
	    
	    background: rgba(0, 0, 0, .5);

	    &__item {
		    display: inline-block;
		    width: 100%;

		    border-top:2px solid red;
		    border-bottom:2px solid red;

		    img {
			    width: 100%;
			}
		}

		&__bullet-nav {
		    padding:0;
		    margin:0;
		    display: block;
		    text-align: center;
		    vertical-align: middle;
		    width: 100%;

		    position:relative;
		    z-index: 2;
		}

		&__bullet {
			display: inline-block;
		    width: 12px;
            height: 12px;
            vertical-align: middle;
            border: 1px solid #9B9B9B;
            border-radius:100%;
            margin:0 5px;

            &.active {
                background-color: #79B600;
                border: 1px solid #79B600;
            }
		}

		&__prevNav,
		&__nextNav {
			background-color:rgba(0, 0, 0, .3);
			width: 50%;
			position: absolute;
			top:0;
			bottom:0;
			z-index: 1;
		}
		&__prevNav {
			left:0;
			opacity: .6
		}
		&__nextNav {
			right:0;
		}
	}
}